!!!
html
  head
    title= title
    meta(name='viewport', charset='UTF-8', content='width=device-width, initial-scale=1, maximum-scale=1')


    include ../includes/styles
    include ../includes/jslibs

    // auto reload script
    script(src='http://localhost:8001/vogue-client.js', type='text/javascript')

    //include ../tmpl/feed
    //include ../tmpl/post
    //include ../tmpl/search

    script!= javascript

  body!= body

