@import 'nib/vendor'
@import 'nib/gradients'
@import './reset'
@import './variables'
@import './grid96016'

body
    background color-gray
    background-image url('../images/dark_brick_wall.png')

h2
    font-size 1.7em

#welcome
    color color-khaki
    padding 20px 2px 2px 7px
    margin 2px

ul
    margin-top 19px
    margin-left 0
    margin-right 0
    overflow auto
    border 1px solid color-brick
    padding 5px
    font-size 1.2em
    background color-teal
    color color-white-peach
    width 100%

#messages
    margin-bottom 10px

#users
    margin-left 20px

#command-input
    font-size 1.5em
    padding 5px
    width 100%
    background color-teal
    color color-khaki

#left-column
    display inline-block
    float left

#right-column
    display inline-block

.disconnected
    border 1px solid red
.connected
    border 1px solid green
