ul#messages
    height 100px
    width 500px
    overflow auto
    border 1px solid teal
    padding 2px

#command-input
    width 500px
    font-size 1.5em
    padding 2px

.disconnected
    border 1px solid red
.connected
    border 1px solid green
