color-brick       = #A84B3A
color-khaki       = #FF9F67
color-white       = #FFF7F5
color-white-peach = #FCF8DC
color-teal        = #233138
color-gray        = #4C646B
color-green       = #228B22
color-green2      = #00CD00
color-red         = #EE0000
