div.container_16
  div#content.grid_16
      p Welcome To Web IRC
      ul#messages
          li welcome
          li messages will appear here
      div#command
          input#command-input(type='text')
